<div class="inner-wrap">
    <!-- <ul class="custom-tabs">
      <li>
        <a href="javascript:;">Licensing</a>
      </li>
    </ul> -->
    <div class="tabs-body">
      <div class="licensing">
        <div class="form-group">
          <label>SKU:</label>
          <input [(ngModel)]="sharedService.sharedVariable" type="text" class="form-control" />
          <i (click)="showAlert()" class="info-icon">i</i>
        </div>
      </div>
      <div class="selected-leagues">
        <span class="label">Select leagues for SKU</span>
        <div  class="leagues-option">
          <button *ngFor="let item of leagues" class="btn-radio">
            <input [(ngModel)]="!item.checked" (change) = "changeLeague(item)" type="checkbox" class="checkbox-type" name="leagues" id="leagues" />
            <label class="radio-label">{{item.name}}</label>
          </button>
          <!-- <button class="btn-radio">
            <input type="checkbox" class="checkbox-type" name="leagues" id="leagues" />
            <label class="radio-label">NHL</label>
          </button>
          <button class="btn-radio">
            <input type="checkbox" class="checkbox-type" name="leagues" id="leagues" />
            <label class="radio-label">MLB</label>
          </button>
          <button class="btn-radio">
            <input type="checkbox" class="checkbox-type" name="leagues" id="leagues" checked />
            <label class="radio-label">NCAA</label>
          </button>
          <button class="btn-radio">
            <input type="checkbox" class="checkbox-type" name="leagues" id="leagues" />
            <label class="radio-label">MLS</label>
          </button> -->
        </div>
        <div class="btn-holder btn-horizontal">
          <button (click)="changeValue()" class="btn btn-ok btn-round btn-white-border">Create Licensing Record</button>
        </div>
      </div>
    </div>
  </div>
